<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Tilføj turistattraktion</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>

<h1>Tilføj turistattraktion</h1>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <label for="navn">Navn:</label>
    <input id="navn" type="text" th:field="*{name}"><br>

    <label for="Beskrivelse">Beskrivelse:</label>
    <input id="Beskrivelse" type="text" th:field="*{description}"><br>

    <label for="by">By:</label>
    <select th:field="*{city}" id="by">
        <option th:each="c : ${allCities}" th:value="${c}" th:text="${c}"></option>
    </select><br>

    <label for="Billedfilnavn">Billedfilnavn:</label>
    <input id="Billedfilnavn" type="text" th:field="*{image}" placeholder="fx tivoli.png"><br>

    <label for="tags">Tags:</label>
    <span th:each="t : ${allTags}" id="tags">
        <input id="checkboxtag" type="checkbox" th:field="*{tags}" th:value="${t}">
        <label for="checkboxtag" th:text="${t}"></label>
    </span><br>

    <button type="submit">OK</button>
    <a th:href="@{/attractions}"><button type="button">Tilbage</button></a>
</form>

</body>
</html>