<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ændring af informationer</title>
    <link th:href="@{/style.css}" rel="stylesheet" lang="da">
</head>
<body>

<h1>Ændring af informationer</h1>

<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">
    <label for="name field" >Navn:</label>
    <input id="name field" type="text" th:field="*{name}" readonly><br>

    <label for="Beskrivelse">Beskrivelse:</label>
    <input id="Beskrivelse" type="text" th:field="*{description}"><br>

    <label for="selectbox">By:</label>
    <select id="selectbox" th:field="*{city}">
        <option th:each="c : ${allCities}" th:value="${c}" th:text="${c}"></option>
    </select><br>

    <label for="Billedfilnavn">Billedfilnavn:</label>
    <input id="Billedfilnavn" type="text" th:field="*{image}" placeholder="fx tivoli.png"><br>

    <label for="tags">Tags:</label>
    <span th:each="t : ${allTags}" id="tags">
        <input id="checkboxtag" type="checkbox" th:field="*{tags}" th:value="${t}">
        <label th:text="${t}" for="checkboxtag"></label>
    </span><br>

    <button type="submit">Ok</button>
    <a th:href="@{/attractions}"><button type="button">Tilbage</button></a>
</form>

</body>
</html>